.App {
  font-family: sans-serif;
  text-align: center;
}

.inputs {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

input {
  margin: 5px;
}

span {
  color: red;
}
